body{
    background-color: #faedcd;
    
}



h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #6a994e;
    font-weight: lighter;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
 
.login_signup{
    text-align: right;
    margin-right: 100px;
    color:black;
    border-right-width: 55px;
    font-weight: bold;
    
} 

.login , .signup{
    margin: 5px;
    color: black;
}

.welcome-text{
    color: #4CAF50;
    font-size: 2.5rem;
    line-height: 1;
    font-family: cursive;
    padding: 15px 30px;
}

a{
    color: black;
}
 
 
.numbers_line{
    display: flex; 
    justify-content:center;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    
}

#problem {
padding: 10px;
}

#answers{
    width: 200px;
    border: 0;
    font-size: 4rem;
    margin-top: -50px;
    text-align: center;
    
}
button{
    background-color: transparent;
    border: none;
}
.add_image, .sub_image, .div_image, .mul_image {
    width: 250px; height: 250px; padding: 5px; margin: 5px;
}

#clear , #next{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 100px;
    width: 80px;
    margin: 5px;
    height: 75px;
}

.numbers{
    width: 100px; height: 100px;
}

.back_to_home_page{
  padding: 10px;
  text-decoration: none;
  border: 1px solid lightgreen;
  border-radius: 5px;
  font-weight: bold;
  color:#16260c;
  margin-bottom: 10px;
  background-color:lightgreen;
}

.contact_us{
    padding: 10px;
    text-decoration: none;
    border: 1px solid lightgreen;
    border-radius: 5px;
    font-weight: bold;
    color:#16260c;
    margin-bottom: 10px;
    background-color:lightgreen;
}

@media screen and (max-width: 670px) {
    .login_signup{
        text-align: center;
        margin-right: 0;
         
        
    } 
  }